@charset "UTF-8";
:root{
    --cor0:#202022;
}
body{
    font-size: large;
    background-image: linear-gradient(to right, #14140F,#053D38,#34675C);
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    margin-top: -22px;
    margin-left: 2px;
    margin-right: 1px;
}
header{
    color:cadetblue;
    background-color:var(--cor0);
    height: 80px;
    width: 100%;
    position: fixed;
}
nav{
    background-color:var(--cor0);
    padding: 60px;
    padding-top: 75px;
    margin-top: -16px;
    padding-bottom: 50px;
    padding-bottom: 0px;
    padding-left: 23px;
    box-shadow: 1px 1px 10px black;
    
}
nav > a{
    color:rgba(0, 255, 255, 0.589);
    padding-left: 10px;
   
    text-decoration: overline;
    text-transform: lowercase;
}
nav> a:hover{
    color:aqua;
    text-decoration: solid;
    transition-duration: .5s;
   
   

}
main{ 
    background-color:var(--cor0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    margin-top: -20px;
    padding-top: px;
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 20px;
    box-shadow: 5px  5px 10px black;
    border-radius: 15px;   
}
footer{

    background-color:var(--cor0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 90%;
    width: 80%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 5px  5px 10px black;
    border-radius: 10px;   
}


h1{
    text-align: center;
}
img{ padding-left: 20%;
    width : "50%";
    height:"50%";
}


main > ul> img {
    margin: auto;
    max-width: "50%";
    min-width: "50%";
}

div.video{
    background:var(--cor0);
    margin-bottom: 59%;
    position: relative;
   
}
div.video>iframe{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
   
}
/*width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;*/ 

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: white,black;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
    
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(207, 199, 182);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:#14140F;
    border-radius: 20px;
    border: 3px solid #14140F;
  }
  
