@charset "UTF-8";

body{
    
    background-image: linear-gradient(to right, #14140F,#053D38, #34675C );
    height: 30%;
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding-left: 12%;
    padding-top: 1%;
    
    
    


}

main{ 
    font-size: xx-large;
    background-color:#202022;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 90%;
    width: 80%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 5px  5px 10px black;
    
    
}
h1{
    text-align: center;
}
img{ padding-left: 20%;
    width : "50%";
    height:"50%";
}


main > ul> img {
  
    padding-left: 15%;
    width : "60%";
    height:"50%";
}

iframe{ 
    
    margin: auto;
    margin-top: 5%;
    padding-left: 20%;
    width : 50%;
    height: -50%;
    



}
footer{
   
    
    font-size: xx-large;
    background-color:#202022;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 90%;
    width: 80%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 5px  5px 10px black;
}
